n8n-workflow-pilot-form.json
{
  "name": "Free Pilot Form → Sheets + Email",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pilot-form",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "webhook-pilot",
      "name": "Webhook - Pilot Form",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "pilot-form"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "firstName",
              "value": "={{ $json.body.firstName || '' }}"
            },
            {
              "name": "lastName",
              "value": "={{ $json.body.lastName || '' }}"
            },
            {
              "name": "businessName",
              "value": "={{ $json.body.businessName || '' }}"
            },
            {
              "name": "phone",
              "value": "={{ $json.body.phone || '' }}"
            },
            {
              "name": "email",
              "value": "={{ $json.body.email || '' }}"
            },
            {
              "name": "industry",
              "value": "={{ $json.body.industry || '' }}"
            },
            {
              "name": "callVolume",
              "value": "={{ $json.body.callVolume || '' }}"
            },
            {
              "name": "painPoint",
              "value": "={{ $json.body.painPoint || '' }}"
            },
            {
              "name": "submittedAt",
              "value": "={{ $json.body.submittedAt || new Date().toISOString() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "set-fields",
      "name": "Extract Form Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Sheet1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "First Name": "={{ $json.firstName }}",
            "Last Name": "={{ $json.lastName }}",
            "Business Name": "={{ $json.businessName }}",
            "Phone": "={{ $json.phone }}",
            "Email": "={{ $json.email }}",
            "Industry": "={{ $json.industry }}",
            "Call Volume": "={{ $json.callVolume }}",
            "Pain Point": "={{ $json.painPoint }}",
            "Submitted At": "={{ $json.submittedAt }}"
          },
          "matchingColumns": ["Phone"]
        },
        "options": {}
      },
      "id": "google-sheets",
      "name": "Save to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [650, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "york@caipherai.com",
        "subject": "=🔥 New Free Pilot Request — {{ $json.businessName }}",
        "message": "=<h2>New Pilot Request</h2><p><b>Name:</b> {{ $json.firstName }} {{ $json.lastName }}</p><p><b>Business:</b> {{ $json.businessName }}</p><p><b>Phone:</b> {{ $json.phone }}</p><p><b>Email:</b> {{ $json.email }}</p><p><b>Industry:</b> {{ $json.industry }}</p><p><b>Call Volume:</b> {{ $json.callVolume }}</p><p><b>Pain Point:</b> {{ $json.painPoint }}</p><hr><p style='color:#888'>Submitted: {{ $json.submittedAt }} via free-pilot page</p>",
        "options": {}
      },
      "id": "send-email",
      "name": "Email Notification",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [650, 500],
      "credentials": {
        "smtp": {
          "id": "",
          "name": "SMTP"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"message\": \"Pilot request received\" }"
      },
      "id": "respond-success",
      "name": "Respond - Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook - Pilot Form": {
      "main": [
        [
          {
            "node": "Extract Form Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Form Data": {
      "main": [
        [
          {
            "node": "Save to Google Sheets",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Google Sheets": {
      "main": [
        [
          {
            "node": "Respond - Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
