n8n-workflow-appointment-booking.json
{
  "name": "Otto - Appointment Booking",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "otto/appointment-request",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-1",
      "name": "Webhook - Appointment Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "otto-appointment-request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ottoagent.net/api/appointments",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $json.intent.appointmentType }} - {{ $json.customer.name }}"
            },
            {
              "name": "type",
              "value": "={{ $json.intent.appointmentType }}"
            },
            {
              "name": "startTime",
              "value": "={{ $json.intent.preferredDate }}T{{ $json.intent.preferredTime }}:00Z"
            },
            {
              "name": "endTime",
              "value": "={{ $json.intent.preferredDate }}T{{ $json.intent.preferredTime }}:00Z"
            },
            {
              "name": "customerId",
              "value": "={{ $json.customer.id }}"
            },
            {
              "name": "notes",
              "value": "={{ $json.intent.notes || '' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "http-request-1",
      "name": "Create Appointment in Otto AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [470, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "1",
          "name": "Otto AI API Key"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"appointmentId\": $json.id, \"message\": \"Appointment created successfully\", \"startTime\": $json.startTime } }}"
      },
      "id": "respond-webhook-1",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [690, 300]
    }
  ],
  "connections": {
    "Webhook - Appointment Request": {
      "main": [
        [
          {
            "node": "Create Appointment in Otto AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Appointment in Otto AI": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "id": "otto-appointment-booking",
  "meta": {
    "instanceId": "dualpay-n8n-cloud"
  },
  "tags": []
}

